.page.theme_dark {
  --cover-image: url("../images/cover-image-dark.png");
  
  --accent-color: #FF0070;
  --accent-color-title: #DB00FF;
  --title-text-color: #000028;
  --title-decor-color: #FF0070;
  --border-block-color: #FF0070;
  --border-block-color-hover: 255, 0, 112;
  --header-theme-item-color: #FF0070;
  --text-color: #F1B2CE;
  --link-accent-color: #FF0070;
  --link-border-color: #F1B2CE;
  --link-underline-color: #F1B2CE;
  --accent-title-color: #000028;

  --rec-visibility: visible;
}

  @media (prefers-color-scheme: dark) {
    :root {
      --cover-image: url("../images/cover-image-dark.png");

      --accent-color: #FF0070;
      --accent-color-title: #DB00FF;
      --title-text-color: #000028;
      --title-decor-color: #FF0070;
      --border-block-color: #FF0070;
      --border-block-color-hover: 255, 0, 112;
      --text-color: #F1B2CE;
      --link-accent-color: #FF0070;
      --link-border-color: #F1B2CE;
      --link-underline-color: #F1B2CE;
      --accent-title-color: #000028;
    
      --rec-visibility: visible;
    }
}




