.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  
  --accent-color: var(--color-neon-1);
  --accent-color-title: var(--color-neon-2);
  --title-decor-color: var(--color-neon-2);
  --border-block-color: var(--color-neon-2);
  --header__theme-menu-item-color: var(--color-neon-2);
  --text-color: var(--color-pink-3);
  --link-accent-color: var(--color-neon-2);
  --link-border-color: var(--color-pink-3);
  --link-underline-color: var(--color-pink-3);
  --h3-h4-color: var(--color-black-3);

  --rec-visibility: visible;
}

  @media (prefers-color-scheme: dark) {
    :root {
      --accent-color: var(--color-neon-1);
      --accent-color-title: var(--color-neon-2);
      --title-decor-color: var(--color-neon-2);
      --border-block-color: var(--color-neon-2);
      --header__theme-menu-item-color: var(--color-neon-2);
      --text-color: var(--color-pink-3);
      --link-accent-color: var(--color-neon-2);
      --link-border-color: var(--color-pink-3);
      --link-underline-color: var(--color-pink-3);
      --h3-h4-color: var(--color-black-3);
    
      --rec-visibility: visible;
    }
}




