.page.theme_light {
  --accent-color: var(--color-pink-1);
  --accent-color-title: var(--color-pink-2);
  --title-decor-color: var(--color-pink-1);
  --border-block-color: var(--color-black-1);
  --border-block-color-hover: var(--color-black-2);
  --header__theme-menu-item-color: var(--color-black-1);
  --text-color: var(--color-black-1);
  --link-accent-color: var(--color-pink-1);
  --link-border-color: var(--color-black-1);
  --link-underline-color: var(--color-black-1);
  --h3-h4-color: var(--color-black-1);

  --rec-visibility: hidden;  
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: var(--color-pink-1);
  --accent-color-title: var(--color-pink-2);
  --title-decor-color: var(--color-pink-1);
  --border-block-color: var(--color-black-1);
  --border-block-color-hover: var(--color-black-2);
  --header__theme-menu-item-color: var(--color-black-1);
  --text-color: var(--color-black-1);
  --link-accent-color: var(--color-pink-1);
  --link-border-color: var(--color-black-1);
  --link-underline-color: var(--color-black-1);
  --h3-h4-color: var(--color-black-1);

  --rec-visibility: hidden;
  }
}
