.page {
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-image: var(--cover-image);
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
}

.header {
  display: grid;
  position: relative;
  align-items: center;
  height: 100vh;
  grid-column: 1;
  min-height: 668px;
  padding: 10px;
}

.rec-decor {
  visibility: var(--rec-visibility);
  display: flex;
  position: absolute;
  top: 10px;
  right: 19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--border-block-color);
  font-size: 18px;
}

.rec-decor:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--border-block-color);
  background-color: var(--border-block-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  inline-size: 25px;
  block-size: 25px; 
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--border-block-color);
  border-block-start: 1px solid var(--border-block-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--border-block-color);
  border-block-end: 1px solid var(--border-block-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 46px;  
  padding-bottom: 30px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10.5px;
}

.header__theme-menu-item {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  color: var(--header-theme-item-color);
}

.header__theme-menu-button {
  display: flex;
  background-color: transparent;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  border: none;
  justify-content: center;  
  border: 1px solid rgba(0, 0, 0, 0);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-block-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--border-block-color-hover), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-block-color);
}

.main {
  display: grid;
  grid-column: 1;
  padding: 10px 10px 35px;
}

.section {
  display: grid;
  gap: 20px;
  padding-bottom: 30px;
}

.page-title {
  font-family: IBM Plex Mono, sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: lowercase;
  color: var(--accent-color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.main-text-title {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 30px;
  color: var(--header-theme-item-color);
}

.accent-title-element {
  padding: 0 0 20px;
}

.accent-title {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--accent-title-color);
}

.text-title {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--accent-title-color);
}

.title-text {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--title-text-color);
  margin: 21px 0 38px 0;
}

.title-decor {
  background: var(--title-decor-color);
}

.main-text {  
  padding: 10px 0 20px;

}

.horisontal-block {
  padding: 0 0 18px;
}

.text-blok-wide {
  gap: 20px;
}

.text-link {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--link-accent-color);
}

.text-link:hover {  
  border-bottom: 1px solid var(--link-underline-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--link-border-color);
}

.section-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: grid;
  list-style-type: none;
  gap: 10px;
}

.footer {
  display: grid;
  grid-column: 1;
  padding: 10px;
  min-height: 668px;
  height: 100vh;
}

.footer-title {
  align-self: center;
  justify-self: center;
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
    min-height: 1024px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    padding-top: 108px;
    padding-bottom: 46px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-text {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    margin: 32px 0 98px 0;
  }

  .main {
    gap: 20px;
    padding: 50px 20px;
  }

  .section {
    grid-template-columns: 236px 1fr;
    padding-bottom: 10px;
  }

  .main-text-title {
    grid-column-start: 1;
    padding-top: 10px;
  }

  .text-blok {
    grid-column-start: 2;
    padding: 10px 0 20px;
  }

  .main-text {
    padding: 10px 0 20px;
  }

  .accent-title-element {
    padding: 10px 0 20px;
  }

  .horisontal-block {
    max-width: 236px;
  }

  .section-horizontal {
    display: flex;
    flex-direction: column;
    padding: 0 0 30px;
  } 
  
  .section-gallery {
    padding-top: 30px;
  }

  .images {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  img {
    object-fit: cover;
    width: 100%;
  }

  
  .list-img-item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
    height: 192px;
  }

  .list-img-item:nth-child(2) {
    grid-area: 1 / 3 / 3 / 4;
    height: 441px;
  }

  .list-img-item:nth-child(3) {
    grid-area: 2 / 1 / 4 / 2;
    height: 568px;
  }

  .list-img-item:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
    width: 230px;
  }

  .list-img-item:nth-child(5) {
    grid-area: 3 / 2 / 4 / 4;
    height: 318px;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    display: inline-block;
    align-self: start;
    padding-top: 0;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    gap: 10px;
    padding-left: 20px;
  }

  .page-title {
    padding-top: 119px;
  }

  .title-text {
    max-inline-size: 491px;
    margin: 48px 0 72px 0;
  }

  .horisontal-block {
    max-width: 315px;
  }

  .section {
    grid-template-columns: 315px 1fr;
  }
  
  .section-horizontal {
    display: flex;
  }

  .h2-horisontal {
    max-width: 315px;
  }

  .text-horisontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .list-img-item:nth-child(1) {
    width: 100%;
    height: 100%;
  }

  .list-img-item:nth-child(2) {
    width: 100%;
    height: 100%;
  }

  .list-img-item:nth-child(3) {
    width: 100%;
    height: 100%;
  }

  .list-img-item:nth-child(4) {
    width: 100%;
    height: 100%;
  }

  .list-img-item:nth-child(5) {
    width: 100%;
    height: 100%;
  }

  .footer-title {
    padding-top: 0;
  }

  .footer {
    min-height: 768px;
  }
}
